@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../assets/font/ProximaNova-Regular.otf");
}

@font-face {
    font-family: "Proxima Nova Thin";
    src: url("../assets/font/Proxima\ Nova\ Thin.otf");
}

@font-face {
    font-family: "Proxima Nova Extrabold";
    src: url("../assets/font/Proxima\ Nova\ Extrabold.otf");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../assets/font/Proxima\ Nova\ Bold.otf");
}

@font-face {
    font-family: "Proxima Nova Black";
    src: url("../assets/font/Proxima\ Nova\ Black.otf");
}

@font-face {
    font-family: "Naughty Monster";
    src: url("../assets/font/NaughtyMonster.otf");
}